// Main colors
$gold: #D7BF6B;
$copper: #D7896B;
$keppel: #44BBA4;
$teal: #218380;

// Grey-shade colors
$white: #FFFFFF;
$black: #000000;
$grey-100: #EEEEEE;
$grey-300: #CCCCCC;
$grey-500: #666666;
$grey-700: #404040;
$grey-900: #222222;
