// Navbar shadow
.nav-shadow {
  box-shadow: 10px 0 20px $black;
}

// Right shadow
.right-shadow {
  box-shadow: 4px 6px 6px $black;
}
// Left shadow
.left-shadow {
  box-shadow: -4px 6px 6px $black;
}
